[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "bundle/lightline"]
	path = bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = git@github.com:hdima/python-syntax
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown
[submodule "bundle/vim-pep8-text-width"]
	path = bundle/vim-pep8-text-width
	url = git@github.com:jimf/vim-pep8-text-width.git
[submodule "plugin/vim-rsi"]
	path = bundle/vim-rsi
	url = git://github.com/tpope/vim-rsi.git
