[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "bundle/lightline"]
	path = bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = git@github.com:vim-python/python-syntax.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown
[submodule "bundle/vim-pep8-text-width"]
	path = bundle/vim-pep8-text-width
	url = git@github.com:jimf/vim-pep8-text-width.git
[submodule "bundle/vim-rsi"]
	path = bundle/vim-rsi
	url = git://github.com/tpope/vim-rsi.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = git@github.com:jmcantrell/vim-virtualenv.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git@github.com:sukima/xmledit.git
[submodule "bundle/indentpython.vim"]
	path = bundle/indentpython.vim
	url = git@github.com:vim-scripts/indentpython.vim.git
[submodule "bundle/vim-mundo"]
	path = bundle/vim-mundo
	url = git@github.com:simnalamburt/vim-mundo.git
[submodule "bundle/django-plus.vim"]
	path = bundle/django-plus.vim
	url = git@github.com:tweekmonster/django-plus.vim.git
